button {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  button i {
    margin-right: 5px;
    font-size: 1.2rem;
    color: #333; 
  }
  
  button:hover i {
    color: #007bff; 
  }
  button {
    margin-left: 5px;
  }
  
  button i {
    font-size: 1rem; 
  }
  
  .bi-arrow-down {
    color: #333; 
  }
  
  .bi-arrow-up {
    color: #333; 
  }